<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png"  href="/images/Powerdrip.png">
    <link rel="stylesheet" href="/css/styles.css" />
    <!-- Pure CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Protest+Strike&display=swap" rel="stylesheet">
    <script src="/js/cart.js" defer></script>
    
</head>
    
    <body>
        <%- include('partials/header') %>
        <% if (showCart && user) { %>
            <%- include('partials/cart') %>
        <% } %>
        <!-- Condensed the hardcoded header into the partials -->
        <!-- <header>Search bar, shopping cart, account, nav bar....Could just be icons for now</header> -->
        <!-- Big pop up title or logo with the commit crew power drip-->
         
        <div class="container" >
            <img id="logo" src="/images/LOGO.png" alt="PowerDrip LOGO">
            <p>POWER DRIP is focused on high-quality fitness drinks, protein powders, and performance supplements. PowerDrip is for health-conscious consumers, athletes, and fitness enthusiasts.</p>
        </div>

        <div class="newReleases">
            <div class="pure-g">
                <h1 class="pure-u-1-2" id="newReleaseTitle">New Releases</h1>
                <div class="pure-u-1-2" id="newReleaseProducts">
                    <h2><a href="/products" id="products-button">Products</a></h2>
                </div>
            </div>
            <div id="newReleasesProductsGrid" class="products-grid pure-g">
                <!-- EJS products cards -->
                <!-- Displays 4 random products from the database  -->
                <% if (randomProducts && randomProducts.length > 0) {%>
                    <% randomProducts.forEach(product => { %>
                        <div class="pure-u-1 pure-u-sm-1-2 pure-u-xl-1-4 product-card-container">
                            <a href="/products/<%= product.id %>">
                                <div class="product-card">
                                <!-- Display the product image from the database -->
                                    <div class="landing-image">
                                        <img
                                            class="pure-img"
                                            src="<%= product.image_path %>"
                                            alt="<%= product.name %>">
                                    </div>
                                    <!-- Display product details under product image -->
                                    <div class="product-info">
                                        <h3><%= product.name %></h3>
                                        <p class="price">$<%= product.price %></p>
                                    </div>   
                                </div> 
                            </a>
                        </div>
                    <% }) %>
                <% } else { %>
                    <p>No products found.</p>
                <% } %>   
            </div>                
        </div> 
        <div class="reviews">
            <div class="reviewBox"><h3>Joe - 5⭐</h3><p>I love this product!</p></div>
            <div class="reviewBox"><h3>Joe - 5⭐</h3><p>I love this product!</p></div>
            <div class="reviewBox"><h3>Joe - 5⭐</h3><p>I love this product!</p></div>
            <div class="reviewBox"><h3>Joe - 5⭐</h3><p>I love this product!</p></div>
            <div class="reviewBox"><h3>Joe - 5⭐</h3><p>I love this product!</p></div>
            <div class="reviewBox"><h3>Joe - 5⭐</h3><p>I love this product!</p></div>
        </div>

        <div class="signup">
            <h2>Sign up for our news letter to get the latest news about Power Drip!</h2>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email">
            <button>Submit</button>
        </div>
            <%- include('partials/footer') %>
    </body>
    
</html>
