<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="icon" type="image/png"  href="/images/Powerdrip.png">

  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Protest+Strike&display=swap" rel="stylesheet">
</head>
<body>
  
  <%- include ("partials/header") %>

<main class="single-product-container">

  <div class="single-product">

    <div class="single-product-image">
      <img src="<%= product.image %>" alt="<%= product.name %>">
    </div>

    <div class="single-product-details">
      <h1><%= product.name %></h1>

      <p class="single-product-price">$<%= product.price %></p>

      <p class="single-product-category">
        Category: <%= product.category %>
      </p>

      <p class="single-product-description">
        <%= product.description %>
      </p>

      <div class="single-product-actions">
        <button class="add-to-cart-btn">Add to Cart</button>
        <a href="/products" class="back-btn">← Back to Products</a>
      </div>

    </div>

  </div>

</main>

  <%- include("partials/footer") %>


</body>
</html>